.uploaded-file-container{
    display: flex;
    overflow-y: hidden;
}


.uploaded-file-action{
    margin-top: 39px;
    margin-right: 40px;
    margin-left: 55px;
}

.main-img-container{
    width: 35.45%;
}

.main-img-container img{
    width: 100%;
}

.uploaded-file-action-container{
    flex: 1;
    width: 64.55%;
}