.uploaded-file-container{
    display: flex;
    overflow-y: hidden;
}


.uploaded-file-action{
    margin-top: 39px;
    margin-right: 40px;
    margin-left: 55px;
}

.main-img-container{
    width: 35.45%;
}

.main-img-container img{
    width: 100%;
}

.uploaded-file-action-container{
    flex: 1;
    width: 64.55%;
}

.center-uploaded{
   margin: auto;
   width: 476px;
}

.center-upload-showcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-invisible{
    display: grid;
    grid-template-columns: 225px 225px;
    gap: 23px;
}

.invisible-img-box{
    background: #FFFFFF;
    border: 1px dashed #B0B0B0;
    height: 207px;
}

.invisible-img-box img{
    display: block;
    margin: auto;
    margin-top: 89px;
}

.position-sticky-top{
    position: fixed;
    top: 0;
    z-index: 1;
}

.position-sticky-bottom{
    position: sticky;
    bottom: 0;
    z-index: 1;
}