.property-details-wrapper{
    display: flex;
    margin-left: 43px;
    margin-top:26px;
    margin-bottom: 21px;
    margin-right: 41px;

}

.title-property-detail{
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #222222;
    padding-bottom: 10px;
}

.location{
    display: inline-flex;
    margin-bottom: 24px;
}

.loation-property{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #222222;
}

.property-status{
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #09AA36;
    border-radius: 4px;
    padding: 4px;
    margin-left: 16px;
}

.property-details-right{
    padding-left: 90px;
}

.title-property-detail-right{
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
}

.right-desc{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #222222;
    text-decoration: underline;
    padding-right: 32px;
}

.right-view{
    font-weight: 500;
    font-size: 12px;
    color: #717171;
}

.property-owned{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #222222;
    display: flex;
    border-bottom:1px solid #e5e5e5 ;
    padding-bottom: 22px;
}

.property-owned p:last-child{
    text-decoration: underline;
    padding-left:29px ;
}

.property-features{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 44px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    padding-top: 31px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e5e5e5;
}

.property-description-realtor{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
    padding-top: 20px;
    padding-bottom: 40px;
}

.show-more{
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #000000;

}

.share-buy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
}

.share-more-container{
    display: inline-flex;
}

.buy-now{
    background: #222222;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 74.5px;
    padding-right: 74.5px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.box-save{
   padding: 12px;
}

.box-share{
    padding: 12px;

}

.box-save, .box-share{
    margin-left: 11px;
    background: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
}

/* 731 */