.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;

    border-bottom: 1px solid #E5E5E5;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .header span{
    font-weight: 500;
    font-size: 20px;
    color: #222;
  }
  
  .header-logo{
   display: flex;
   align-items: center;
  }
  
  .header-logo img{
    margin-right: 10px;
  }
  
  .avatar{
    display: flex;
    align-items: center;
  }
  .avatar span{
    margin-right: 1rem;
    font-weight:400;
    color:#222;
    font-size: 14px;
  }
  
  .avatar > img{
    margin-right: 8px;
  }  

  .no-underline{
    text-decoration: none;
  }