@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


*, *:before, *:after{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

p{
  margin-bottom: 0 !important;
}

body{
  font-family:inter;
  font-size: 1rem;
}

 .container{
  border: 1px solid black;
  min-height: 100vh;   /* for shorter content */
  max-width: 100vw;
  margin: auto;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}  


.input-layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown-field-box{
  border: 2px solid #E5E5E5;
  border-radius: 10px;
  width: 250px;
  margin-bottom: 7px;
}
.dropdown-field-box input, select{
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 100%;
  outline: none;
  background-color: #fff;
  appearance: none;
}

.dropdown-field-box p{
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 12px;
  color: #717171;
}

.special-select{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.symbol{
  display: inline-flex;
}
.symbol p{
  color: #222;
}

.arrow-down{
  color: #212529;
}