.property-address-container{
    display: flex;
    
    overflow-y: hidden;
}

.img-container{
    height: 100%;
    width: 34.55%;
}

.img-container img{
    width: 100%;
}


.property-address-layout{
    flex: 1;
    width: 65.45%;
}

.property-address-inputs{
    margin-top:39px;
    margin-right: 47px;
    margin-left: 56px;
    
}
.close{
    display: flex;
    justify-content: flex-end;  
    color: #212529;
}

.property-address{
    font-weight: 500;
    font-size: 22px;
    color: #222222;
    padding-top: 39px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 34px;

}

.property-address p{
    padding-bottom: 16px;
}

.property-address-text{
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    padding-right: 8px;
    border-radius: 8px;
    margin-bottom: 34px;
}

.property-address-text input{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: Inter;
}


.property-room p{
    padding-bottom: 10px;
}

.property-input-layout{
    display: grid;
    grid-template-columns: 450px 450px;
    gap:40px;
    margin-top: 20px;
}

.property-dropdown-field-box{
    border: 1px solid #e5e5e5;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #717171;
    border-radius: 10px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.property-address-inputs{
    margin-bottom: 100px;

}

.special-select select{
    width: 500px;
}

.deep-dark-40{
    width: 40%;
    border: 1px solid #222222;
}